body {
background: #34599e url(im/b_b.png) repeat-x;
margin:0 0 8px 0;
padding:0;
}

.t-content {
margin:0 auto;
padding:0;
}

.header{
background:im/logotip.jpg no-repeat top right;
margin:0;
padding:0;
height:212px;
}

.center {
background:#222629 url(im/b-b.png) repeat-y;
margin:0;
padding:0;
}

HTML:root .search{ 
position:relative;
float:left;
margin:8px 18px 0 8px; 
width:190px;height:34px; 
background:url(im/bodsea.png) no-repeat;
}
HTML:root .input_t{ 
position:absolute;left:19px; top:6px; 
border:0px; height:12px;width:117px; 
line-height:16px;font-size:11px; 
background:#7a438c transparent;padding:2px 0 0 5px;
color:#999;
}
HTML:root .img_s{ 
position:absolute; left:152px; top:4px;
}

@media all and (min-width) {
h1 {
color:#BBC7D5;
font-weight:600;
font:32px verdana, arial, helvetica, sans-serif;
margin:0 106px 0 0;
padding:0;
float : right; 
 }
}

HTML:root h1{ 
font:32px verdana, arial, helvetica, sans-serif;
color:#32CD32;
font-weight:700;
margin:6px 0 0 16px;
padding:0;
}

h1 {
font:32px verdana, arial, helvetica, sans-serif;
color:#32CD32;
font-weight:700;
margin:6px 0 0 16px;
padding:0;
}

h2 {
font:26px verdana, arial, helvetica, sans-serif;
color:#32CD32;
font-weight:600;
margin:6px 14px 10px 26px;
padding:0;
}

h3 {
font:20px verdana, arial, helvetica, sans-serif;
color:#32CD32;
font-weight:700;
margin:4px 14px 10px 26px;
padding:0;
}

h4 {
padding:0 0 0 12px;
margin:8px 0 2px 4px;
height:30px;
font:20px verdana, arial, helvetica, sans-serif;
color:#999;
font-weight:600;
}

h6 {
font:26px verdana, arial, helvetica, sans-serif;
color:#b3ad3e;
font-weight:600;
margin:4px 14px 10px 10px;
padding:0;
}

i{
font:11px verdana, arial, helvetica, sans-serif;
color:#666;
margin:0;
padding:0;
font-style: italic;
}

.right_text{
margin:0;
padding:0 0 22px 0;
}

.right_text p{
font:13px verdana, arial, helvetica, sans-serif;
color:#9EA8AF;
margin:0;
padding:4px 14px 4px 22px;
text-align : justify;
line-height:1.7;
}

.footer {
background: url(im/b-footer.png) no-repeat; 
margin:0;
padding:0;
height:100px;
text-align:center;
}
.footer, a, p {
color:#7b6895;
font:11px verdana, arial, helvetica, sans-serif;
text-decoration:none;
}

a img {
border:none;
}

ul.menu {
list-style-type:none;
line-height:1.3;
margin:20px 0 0 18px;
padding:0;
}
.menu li a {
color:#32CD32;
font:12px verdana, arial, helvetica, sans-serif;
text-decoration:none;
font-weight:900;
line-height:1.9;
}
.menu li a:visited {
color:#32CD32;
font:12px verdana, arial, helvetica, sans-serif;
font-weight:900;
line-height:1.9;
}
.menu li a:hover,.menu li a:active {
color:#715996;
font:12px verdana, arial, helvetica, sans-serif;
font-weight:900;
line-height:1.9;
text-decoration:underline;
}

.photo {
width: 254px;
float : left;
margin-top: 12px; 
margin-right: 8px; 
margin-left: 12px; 
}

#text, #text2 {
border: 1px solid #333;
background: #111;
padding: 8px;
margin-bottom: 10px; 
text-align: center;
}

.top {
float : right;
margin-top: 14px; 
margin-right: 18px; 
margin-left: 0;
margin-bottom: 0;  
padding: 0;
color:#32CD32;
font:11px verdana, arial, helvetica, sans-serif;
}

.top a {
padding: 0;
margin: 0 6px 0 6px; 
color:#32CD32;
font:11px verdana, arial, helvetica, sans-serif;
text-decoration:none;
font-weight:600;
}

